<!-- ================> footer section start here <================== -->
<footer class="footer padding-top padding-bottom">
   <div class="container">
      <div class="footer__wrapper">
         <div class="footer__content">
            <a class="footer__logo" href="index.html"><img src="assets/images/logo/logo.png" alt="SelfCoder Logo"></a>

            <ul class="footer__links">
               <li class="footer__links-item"><a href="#">Overview</a></li>
               <li class="footer__links-item"><a href="#">Features</a></li>
               <li class="footer__links-item"><a href="#">Pricing</a></li>
               <li class="footer__links-item"><a href="#">Integration</a></li>
            </ul>

            <div class="footer__content-social">
               <p>Lorem ipsum dolor sit amet, consectetur adip elit.
                  Posuere dolor massa, pellentesque aliquam nisl facilisis sed.
               </p>
               <ul class="social">
                  <li class="social__item">
                     <a href="#" class="social__link"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li class="social__item">
                     <a href="#" class="social__link"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li class="social__item">
                     <a href="#" class="social__link"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li class="social__item">
                     <a href="#" class="social__link"><i class="fab fa-facebook-f"></i></a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</footer>
<!-- ================> footer section end here <================== -->