<div class="admin">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <div class="admin_right">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="admin_left-top text-center">
              <div class="admin_logo">
                <div class="avatar-upload">
                  <div class="avatar-edit">
                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                    <label for="imageUpload"></label>
                  </div>
                  <div class="avatar-preview">
                    <div id="imagePreview" style="background-image: url('../../assets/images/testimonial/2.png');">
                    </div>
                  </div>
                </div>
              </div>
              <div class="admin_title">
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" placeholder="Develop one">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Role</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" placeholder="[Developer,Developer]">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Email Address</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" placeholder="developer@gmail.com">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Phone</label>
                  <div class="col-sm-9">
                    <input type="tel" class="form-control" id="number" placeholder="+88 012345645">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <div class="admin_left-top text-center">
              <div class="admin_logo">
                <div class="avatar-upload">
                  <div class="avatar-edit">
                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                    <label for="imageUpload"></label>
                  </div>
                  <div class="avatar-preview">
                    <div id="imagePreview" style="background-image: url('../../assets/images/testimonial/2.png');">
                    </div>
                  </div>
                </div>
              </div>
              <div class="admin_title">
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" placeholder="Develop one">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Role</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" placeholder="[Developer,Developer]">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Email Address</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" placeholder="developer@gmail.com">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Phone</label>
                  <div class="col-sm-9">
                    <input type="tel" class="form-control" id="number" placeholder="+88 012345645">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div class="admin_left-top text-center">
              <div class="admin_logo">
                <div class="avatar-upload">
                  <div class="avatar-edit">
                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                    <label for="imageUpload"></label>
                  </div>
                  <div class="avatar-preview">
                    <div id="imagePreview" style="background-image: url('../../assets/images/testimonial/2.png');">
                    </div>
                  </div>
                </div>
              </div>
              <div class="admin_title">
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" placeholder="Develop one">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Role</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" placeholder="[Developer,Developer]">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Email Address</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" placeholder="developer@gmail.com">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Phone</label>
                  <div class="col-sm-9">
                    <input type="tel" class="form-control" id="number" placeholder="+88 012345645">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <div class="admin_left-top text-center">
              <div class="admin_logo">
                <div class="avatar-upload">
                  <div class="avatar-edit">
                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                    <label for="imageUpload"></label>
                  </div>
                  <div class="avatar-preview">
                    <div id="imagePreview" style="background-image: url('../../assets/images/testimonial/2.png');">
                    </div>
                  </div>
                </div>
              </div>
              <div class="admin_title">
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" placeholder="Develop one">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Role</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" placeholder="[Developer,Developer]">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Email Address</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" placeholder="developer@gmail.com">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Phone</label>
                  <div class="col-sm-9">
                    <input type="tel" class="form-control" id="number" placeholder="+88 012345645">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
