<div class="container">
  <div class="row justify-content-center g-5">
    <div class="col-lg-6">
      <div class="trk-card">
        <div class="trk-card__wrapper">
          <div class="trk-card__header">
            <h5>Basic Alerts</h5>
          </div>
          <div class="trk-card__body">
            <div class="alert alert-primary alert-dismissible fade show mb-3" role="alert">
              <span> This is a success alert—check it out!</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-secondary alert-dismissible fade show mb-3" role="alert">
              <span> This is a success alert—check it out!</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
              <span> This is a success alert—check it out!</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-info alert-dismissible fade show mb-3" role="alert">
              <span> This is a success alert—check it out!</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-warning alert-dismissible fade show mb-3" role="alert">
              <span> This is a success alert—check it out!</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
              <span> This is a success alert—check it out!</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-light alert-dismissible fade show mb-3" role="alert">
              <span> This is a success alert—check it out!</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-dark alert-dismissible fade show mb-3" role="alert">
              <span> This is a success alert—check it out!</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="trk-card">
        <div class="trk-card__wrapper">
          <div class="trk-card__header">
            <h5>Basic Alerts With Icons</h5>
          </div>
          <div class="trk-card__body">
            <div class="alert alert-primary alert-dismissible fade show mb-3" role="alert">
              <i class="fa-solid fa-check"></i>
              <span> This is a success alert—check it out!</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-secondary alert-dismissible fade show mb-3" role="alert">
              <i class="fa-solid fa-check"></i>
              <span> This is a success alert—check it out!</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
              <span><i class="fas fa-thumbs-up"></i></span>
              <span> This is a success alert—check it out!</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-info alert-dismissible fade show mb-3" role="alert">
              <i class="fa-solid fa-circle-info"></i>
              <span> This is a success alert—check it out!</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-warning alert-dismissible fade show mb-3" role="alert">
              <i class="fa-solid fa-circle-exclamation"></i>
              <span> This is a success alert—check it out!</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
              <i class="fa-solid fa-triangle-exclamation"></i>
              <span> This is a success alert—check it out!</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-light alert-dismissible fade show mb-3" role="alert">
              <i class="fa-solid fa-check"></i>
              <span> This is a success alert—check it out!</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-dark alert-dismissible fade show mb-3" role="alert">
              <i class="fa-solid fa-check"></i>
              <span> This is a success alert—check it out!</span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="trk-card">
        <div class="trk-card__wrapper">
          <div class="trk-card__header">
            <h5>Basic Line Alerts</h5>
          </div>
          <div class="trk-card__body">
            <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
              <span> This is a success alert—check it out!</span>
            </div>
            <div class="alert alert-info alert-dismissible fade show mb-3" role="alert">
              <span> This is a success alert—check it out!</span>
            </div>
            <div class="alert alert-warning alert-dismissible fade show mb-3" role="alert">
              <span> This is a success alert—check it out!</span>
            </div>
            <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
              <span> This is a success alert—check it out!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="trk-card">
        <div class="trk-card__wrapper">
          <div class="trk-card__header">
            <h5>Basic Line Alerts With Icons</h5>
          </div>
          <div class="trk-card__body">
            <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
              <span><i class="fas fa-thumbs-up"></i></span>
              <span> This is a success alert—check it out!</span>
            </div>
            <div class="alert alert-info alert-dismissible fade show mb-3" role="alert">
              <i class="fa-solid fa-circle-info"></i>
              <span> This is a success alert—check it out!</span>
            </div>
            <div class="alert alert-warning alert-dismissible fade show mb-3" role="alert">
              <i class="fa-solid fa-circle-exclamation"></i>
              <span> This is a success alert—check it out!</span>
            </div>
            <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
              <i class="fa-solid fa-triangle-exclamation"></i>
              <span> This is a success alert—check it out!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>