<div class="container">
  <div class="row justify-content-center g-5">
    <div class="col-lg-12">
      <div class="trk-card">
        <div class="trk-card__wrapper">
          <div class="trk-card__header">
            <h5>Avatar Sizing</h5>
          </div>
          <div class="trk-card__body">
            <div class="trk-avatar d-flex flex-wrap align-items-center">
              <div class="trk-avatar__item me-2">
                <img class="avatar-100 rounded" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-2">
                <img class="avatar-90 rounded" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-2">
                <img class="avatar-80 rounded" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-2">
                <img class="avatar-70 rounded" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-2">
                <img class="avatar-60 rounded" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-2">
                <img class="avatar-50 rounded" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-2">
                <img class="avatar-40 rounded" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-2">
                <img class="avatar-30 rounded" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="trk-card">
        <div class="trk-card__wrapper">
          <div class="trk-card__header">
            <h5>Avatar Sizing</h5>
          </div>
          <div class="trk-card__body">
            <div class="trk-avatar d-flex flex-wrap align-items-center">
              <div class="trk-avatar__item me-2">
                <img class="avatar-100" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-2">
                <img class="avatar-90 " src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-2">
                <img class="avatar-80 " src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-2">
                <img class="avatar-70" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-2">
                <img class="avatar-60" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-2">
                <img class="avatar-50" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="trk-card">
        <div class="trk-card__wrapper">
          <div class="trk-card__header">
            <h5>Avatar Sizing</h5>
          </div>
          <div class="trk-card__body">
            <div class="trk-avatar d-flex flex-wrap align-items-center">
              <div class="trk-avatar__item me-2">
                <img class="avatar-100 rounded-circle" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-2">
                <img class="avatar-90 rounded-circle" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-2">
                <img class="avatar-80 rounded-circle" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-2">
                <img class="avatar-70 rounded-circle" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-2">
                <img class="avatar-60 rounded-circle" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-2">
                <img class="avatar-50 rounded-circle" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="trk-card">
        <div class="trk-card__wrapper">
          <div class="trk-card__header">
            <h5>Avatar Sizing</h5>
          </div>
          <div class="trk-card__body">
            <div class="trk-avatar d-flex flex-wrap align-items-center">
              <div class="trk-avatar__item me-3">
                <img class="" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-3">
                <img class="rounded" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
              <div class="trk-avatar__item me-3">
                <img class="rounded-circle" src="assets/images/avatar/1.png" alt="#"
                  data-bs-original-title="" title="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>