<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="trk-card mb-3">
        <img src="assets/images/others/1.jpg" class="card-img-top" alt="#" loading="lazy">
        <div class="trk-card__body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of
            a page when looking at its layout. </p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div> 
    </div>
    <div class="col-sm-3">
      <div class="trk-card mb-3">
        <img src="assets/images/others/1.jpg" class="card-img-top" alt="#" loading="lazy">
        <div class="trk-card__body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of
            a page when looking at its layout. </p>
          <p>It is a long established fact that a the readable content of a page when looking at its layout.</p>
          <a href="#" class="card-link me-2">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="trk-card mb-3">
        <img src="assets/images/others/1.jpg" class="card-img-top" alt="#" loading="lazy">
        <div class="trk-card__body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of
            a page when looking at its layout. </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="trk-card mb-3">
        <img src="assets/images/others/1.jpg" class="card-img-top" alt="#" loading="lazy">
        <div class="trk-card__body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
        </ul>
        <div class="trk-card__body">
          <a href="#" class="card-link me-2">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="trk-card mb-3">
        <div class="trk-card__body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of
            a page when looking at its layout. </p>
          <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="trk-card mb-3">
        <div class="trk-card__body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of
            a page when looking at its layout. </p>
          <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="trk-card mb-3">
        <div class="trk-card__header">
          Featured
        </div>
        <div class="trk-card__body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="trk-card mb-3">
        <div class="trk-card__header">
          Quote
        </div>
        <div class="trk-card__body">
          <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="trk-card mb-3">
        <div class="trk-card__header">
          Featured
        </div>
        <div class="trk-card__body">
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="trk-card__footer text-muted">
          2 days ago
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="trk-card mb-3">
        <div class="trk-card__body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 text-center">
      <div class="trk-card mb-3">
        <div class="trk-card__body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 text-right">
      <div class="trk-card mb-3">
        <div class="trk-card__body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="trk-card mb-3">
        <img src="assets/images/others/1.jpg" class="card-img-top" alt="#" loading="lazy">
        <div class="trk-card__body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="trk-card mb-3">
        <div class="trk-card__body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <img src="assets/images/others/1.jpg" class="card-img-top" alt="#" loading="lazy">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="trk-card bg-dark text-white mb-3">
        <img src="assets/images/others/1.jpg" class="card-img" alt="#" loading="lazy">
        <div class="trk-card__overlay">
          <h4 class="card-title text-white">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="mt-4 mb-3">Horizontal Card</h3>
    </div>
    <div class="col-lg-6">
      <div class="trk-card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/images/others/3.jpg" class="card-img" alt="#" loading="lazy">
          </div>
          <div class="col-md-8">
            <div class="trk-card__body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in. a little bit
                longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="trk-card mb-3">
        <div class="row no-gutters flex-row-reverse">
          <div class="col-md-4">
            <img src="assets/images/others/3.jpg" class="card-img" alt="#" loading="lazy">
          </div>
          <div class="col-md-8">
            <div class="trk-card__body text-right">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in. a little bit
                longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="mt-4 mb-3">Card Colored Styles</h3>
    </div>
    <div class="col-lg-4">
      <div class="trk-card text-white bg-primary mb-3">
        <div class="trk-card__body">
          <h4 class="card-title text-white">Primary card title</h4>
          <blockquote class="blockquote mb-0">
            <p class="font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
              ante.</p>
            <footer class="blockquote-footer text-white font-size-12">Someone famous in <cite title="Source Title"
                class="text-white">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="trk-card mb-3 text-white bg-secondary">
        <div class="trk-card__body">
          <h4 class="card-title text-white">Secondary card title</h4>
          <blockquote class="blockquote mb-0">
            <p class="font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
              ante.</p>
            <footer class="blockquote-footer text-white font-size-12">Someone famous in <cite title="Source Title"
                class="text-white">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="trk-card mb-3 text-white bg-success">
        <div class="trk-card__body">
          <h4 class="card-title text-white">Success card title</h4>
          <blockquote class="blockquote mb-0">
            <p class="font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
              ante.</p>
            <footer class="blockquote-footer text-white font-size-12">Someone famous in <cite title="Source Title"
                class="text-white">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="trk-card mb-3 text-white bg-danger">
        <div class="trk-card__body">
          <h4 class="card-title text-white">Danger card title</h4>
          <blockquote class="blockquote mb-0">
            <p class="font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
              ante.</p>
            <footer class="blockquote-footer text-white font-size-12">Someone famous in <cite title="Source Title"
                class="text-white">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="trk-card mb-3 text-white bg-warning">
        <div class="trk-card__body">
          <h4 class="card-title text-white">Warning card title</h4>
          <blockquote class="blockquote mb-0">
            <p class="font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
              ante.</p>
            <footer class="blockquote-footer text-white font-size-12">Someone famous in <cite title="Source Title"
                class="text-white">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="trk-card mb-3 text-white bg-info">
        <div class="trk-card__body">
          <h4 class="card-title text-white">Info card title</h4>
          <blockquote class="blockquote mb-0">
            <p class="font-size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
              ante.</p>
            <footer class="blockquote-footer text-white font-size-12">Someone famous in <cite title="Source Title"
                class="text-white">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="mt-4 mb-3">Border Card</h3>
    </div>
    <div class="col-lg-4">
      <div class="trk-card mb-3 border-primary">
        <div class="trk-card__body text-primary">
          <h4 class="card-title text-primary">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title text to build on the card title and
            make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="trk-card mb-3 border-secondary">
        <div class="trk-card__body text-secondary">
          <h4 class="card-title text-secondary">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title text to build on the card title and
            make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="trk-card mb-3 border-success">
        <div class="trk-card__body text-success">
          <h4 class="card-title text-success">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title text to build on the card title and
            make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="trk-card mb-3 border-danger">
        <div class="trk-card__body text-danger">
          <h4 class="card-title text-danger">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title text to build on the card title and
            make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="trk-card mb-3 border-warning">
        <div class="trk-card__body text-warning">
          <h4 class="card-title text-warning">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title text to build on the card title and
            make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="trk-card mb-3 border-info">
        <div class="trk-card__body text-info">
          <h4 class="card-title text-info">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title text to build on the card title and
            make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>