<!-- ================> cta section start here <================== -->
<section class="cta">
    <div class="container">
        <div class="cta__wrapper" data-aos="fade-up" data-aos-duration="800">
            <div class="row align-items-center gx-5 gy-4">
                <div class="col-lg-7 col-xl-7">
                    <div class="cta__content">
                        <h2>Ready to get started?
                            <span>Talk to us today</span>
                        </h2>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-5">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Subscribe now" aria-label="Subscribe Now"
                            aria-describedby="selfcoder-newsletter">
                        <button class="custom-btn" id="selfcoder-newsletter">Subscribe Us</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================> cta section end here <================== -->