<div class="trk-table">
  <div class="container">
    <div class="trk-table__wrapper">
      <div class="trk-table__header">
        <div class="trk-table__title">
          <h5>Data Tables</h5>
          <p>Render data in a table with datatables</p>
        </div>

      </div>
      <div class="trk-table__body">
        <table class="table" id="myTable">
          <thead>
            <tr>
              <th scope="col">Agent</th>
              <th scope="col">Company Email</th>
              <th scope="col">Company Agent</th>
              <th scope="col">Company Name</th>
              <th scope="col">Status</th>
              <th scope="col">Type</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="trk-item d-flex gap-2">
                  <div class="trk-thumb thumb-md">
                    <img src="assets/images/avatar/1.jpg" alt="avatar">
                  </div>
                  <div class="trk-content">
                    <p class="fw-medium title-text">Dale Kernan</p>
                    <p class="small">HTML, JS, ReactJS</p>
                  </div>
                </div>
              </td>
              <td><a href="#">ascroggie16@youku.com</a></td>
              <td>Adamo Scroggie</td>
              <td>@Cartwright Group</td>
              <td><span class="badge bg-primary">Success</span></td>
              <td>Retail</td>
              <td>
                <ul class="trk-action__list">
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-cog"></i></a></li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-pencil-alt"></i></a>
                  </li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-trash-can"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <div class="trk-item d-flex gap-2">
                  <div class="trk-thumb thumb-md">
                    <img src="assets/images/avatar/2.jpg" alt="avatar">
                  </div>
                  <div class="trk-content">
                    <p class="fw-medium title-text">Adam Vernan</p>
                    <p class="small">Lorem, JS, ReactJS</p>
                  </div>
                </div>
              </td>
              <td><a href="#">adam@eket.com</a></td>
              <td>Eket Scroggie</td>
              <td>artwright Group</td>
              <td><span class="badge bg-primary">Success</span></td>
              <td>Retail</td>
              <td>
                <ul class="trk-action__list">
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-cog"></i></a></li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-pencil-alt"></i></a>
                  </li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-trash-can"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <div class="trk-item d-flex gap-2">
                  <div class="trk-thumb thumb-md">
                    <img src="assets/images/avatar/3.jpg" alt="avatar">
                  </div>
                  <div class="trk-content">
                    <p class="fw-medium title-text">Jhon Doe</p>
                    <p class="small">Digital Marketer</p>
                  </div>
                </div>
              </td>
              <td><a href="#">jhon.doe@marko.com</a></td>
              <td>Jhon doe</td>
              <td>Marko Group</td>
              <td><span class="badge bg-primary">Success</span></td>
              <td>Online</td>
              <td>
                <ul class="trk-action__list">
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-cog"></i></a></li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-pencil-alt"></i></a>
                  </li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-trash-can"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <div class="trk-item d-flex gap-2">
                  <div class="trk-thumb thumb-md">
                    <img src="assets/images/avatar/4.jpg" alt="avatar">
                  </div>
                  <div class="trk-content">
                    <p class="fw-medium title-text">Younch M</p>
                    <p class="small">Front End Dev</p>
                  </div>
                </div>
              </td>
              <td><a href="#">younuch@thetork.com</a></td>
              <td>Younuch M</td>
              <td>The Tork Inc</td>
              <td><span class="badge bg-primary">Success</span></td>
              <td>Direct</td>
              <td>
                <ul class="trk-action__list">
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-cog"></i></a></li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-pencil-alt"></i></a>
                  </li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-trash-can"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <div class="trk-item d-flex gap-2">
                  <div class="trk-thumb thumb-md thumb-danger">
                    <span>M</span>
                  </div>
                  <div class="trk-content">
                    <p class="fw-medium title-text">Mobarok Hossain</p>
                    <p class="small">Design Team</p>
                  </div>
                </div>
              </td>
              <td><a href="#">mobarok@thetork.com</a></td>
              <td>Mobarok Hossain</td>
              <td>The Tork Inc</td>
              <td><span class="badge bg-primary">Success</span></td>
              <td>Online</td>
              <td>
                <ul class="trk-action__list">
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-cog"></i></a></li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-pencil-alt"></i></a>
                  </li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-trash-can"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <div class="trk-item d-flex gap-2">
                  <div class="trk-thumb thumb-md">
                    <img src="assets/images/avatar/1.jpg" alt="avatar">
                  </div>
                  <div class="trk-content">
                    <p class="fw-medium title-text">Dale Kernan</p>
                    <p class="small">HTML, JS, ReactJS</p>
                  </div>
                </div>
              </td>
              <td><a href="#">ascroggie16@youku.com</a></td>
              <td>Adamo Scroggie</td>
              <td>@Cartwright Group</td>
              <td><span class="badge bg-primary">Success</span></td>
              <td>Retail</td>
              <td>
                <ul class="trk-action__list">
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-cog"></i></a></li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-pencil-alt"></i></a>
                  </li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-trash-can"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <div class="trk-item d-flex gap-2">
                  <div class="trk-thumb thumb-md">
                    <img src="assets/images/avatar/2.jpg" alt="avatar">
                  </div>
                  <div class="trk-content">
                    <p class="fw-medium title-text">Adam Vernan</p>
                    <p class="small">Lorem, JS, ReactJS</p>
                  </div>
                </div>
              </td>
              <td><a href="#">adam@eket.com</a></td>
              <td>Eket Scroggie</td>
              <td>artwright Group</td>
              <td><span class="badge bg-primary">Success</span></td>
              <td>Retail</td>
              <td>
                <ul class="trk-action__list">
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-cog"></i></a></li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-pencil-alt"></i></a>
                  </li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-trash-can"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <div class="trk-item d-flex gap-2">
                  <div class="trk-thumb thumb-md">
                    <img src="assets/images/avatar/3.jpg" alt="avatar">
                  </div>
                  <div class="trk-content">
                    <p class="fw-medium title-text">Jhon Doe</p>
                    <p class="small">Digital Marketer</p>
                  </div>
                </div>
              </td>
              <td><a href="#">jhon.doe@marko.com</a></td>
              <td>Jhon doe</td>
              <td>Marko Group</td>
              <td><span class="badge bg-primary">Success</span></td>
              <td>Online</td>
              <td>
                <ul class="trk-action__list">
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-cog"></i></a></li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-pencil-alt"></i></a>
                  </li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-trash-can"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <div class="trk-item d-flex gap-2">
                  <div class="trk-thumb thumb-md">
                    <img src="assets/images/avatar/4.jpg" alt="avatar">
                  </div>
                  <div class="trk-content">
                    <p class="fw-medium title-text">Younch M</p>
                    <p class="small">Front End Dev</p>
                  </div>
                </div>
              </td>
              <td><a href="#">younuch@thetork.com</a></td>
              <td>Younuch M</td>
              <td>The Tork Inc</td>
              <td><span class="badge bg-primary">Success</span></td>
              <td>Direct</td>
              <td>
                <ul class="trk-action__list">
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-cog"></i></a></li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-pencil-alt"></i></a>
                  </li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-trash-can"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <div class="trk-item d-flex gap-2">
                  <div class="trk-thumb thumb-md thumb-success">
                    <span>A</span>
                  </div>
                  <div class="trk-content">
                    <p class="fw-medium title-text">Alamgir Hossain</p>
                    <p class="small">Management Team</p>
                  </div>
                </div>
              </td>
              <td><a href="#">alamgir@thetork.com</a></td>
              <td>Alamgir Hossain</td>
              <td>The Tork Inc</td>
              <td><span class="badge bg-primary">Success</span></td>
              <td>Retail</td>
              <td>
                <ul class="trk-action__list">
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-cog"></i></a></li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-pencil-alt"></i></a>
                  </li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-trash-can"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <div class="trk-item d-flex gap-2">
                  <div class="trk-thumb thumb-md">
                    <img src="assets/images/avatar/1.jpg" alt="avatar">
                  </div>
                  <div class="trk-content">
                    <p class="fw-medium title-text">Dale Kernan</p>
                    <p class="small">HTML, JS, ReactJS</p>
                  </div>
                </div>
              </td>
              <td><a href="#">ascroggie16@youku.com</a></td>
              <td>Adamo Scroggie</td>
              <td>@Cartwright Group</td>
              <td><span class="badge bg-primary">Success</span></td>
              <td>Retail</td>
              <td>
                <ul class="trk-action__list">
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-cog"></i></a></li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-pencil-alt"></i></a>
                  </li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-trash-can"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <div class="trk-item d-flex gap-2">
                  <div class="trk-thumb thumb-md">
                    <img src="assets/images/avatar/2.jpg" alt="avatar">
                  </div>
                  <div class="trk-content">
                    <p class="fw-medium title-text">Adam Vernan</p>
                    <p class="small">Lorem, JS, ReactJS</p>
                  </div>
                </div>
              </td>
              <td><a href="#">adam@eket.com</a></td>
              <td>Eket Scroggie</td>
              <td>artwright Group</td>
              <td><span class="badge bg-primary">Success</span></td>
              <td>Retail</td>
              <td>
                <ul class="trk-action__list">
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-cog"></i></a></li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-pencil-alt"></i></a>
                  </li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-trash-can"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <div class="trk-item d-flex gap-2">
                  <div class="trk-thumb thumb-md">
                    <img src="assets/images/avatar/3.jpg" alt="avatar">
                  </div>
                  <div class="trk-content">
                    <p class="fw-medium title-text">Jhon Doe</p>
                    <p class="small">Digital Marketer</p>
                  </div>
                </div>
              </td>
              <td><a href="#">jhon.doe@marko.com</a></td>
              <td>Jhon doe</td>
              <td>Marko Group</td>
              <td><span class="badge bg-primary">Success</span></td>
              <td>Online</td>
              <td>
                <ul class="trk-action__list">
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-cog"></i></a></li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-pencil-alt"></i></a>
                  </li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-trash-can"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <div class="trk-item d-flex gap-2">
                  <div class="trk-thumb thumb-md">
                    <img src="assets/images/avatar/4.jpg" alt="avatar">
                  </div>
                  <div class="trk-content">
                    <p class="fw-medium title-text">Younch M</p>
                    <p class="small">Front End Dev</p>
                  </div>
                </div>
              </td>
              <td><a href="#">younuch@thetork.com</a></td>
              <td>Younuch M</td>
              <td>The Tork Inc</td>
              <td><span class="badge bg-primary">Success</span></td>
              <td>Direct</td>
              <td>
                <ul class="trk-action__list">
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-cog"></i></a></li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-pencil-alt"></i></a>
                  </li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-trash-can"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <div class="trk-item d-flex gap-2">
                  <div class="trk-thumb thumb-md thumb-primary">
                    <span>R</span>
                  </div>
                  <div class="trk-content">
                    <p class="fw-medium title-text">Rassel Hossain</p>
                    <p class="small">Envato Team</p>
                  </div>
                </div>
              </td>
              <td><a href="#">rasselmrh@thetork.com</a></td>
              <td>Rassel Hossain</td>
              <td>The Tork Inc</td>
              <td><span class="badge bg-primary">Success</span></td>
              <td>Retail</td>
              <td>
                <ul class="trk-action__list">
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-cog"></i></a></li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-pencil-alt"></i></a>
                  </li>
                  <li class="trk-action"><a class="trk-action__item" href="#"><i class="lni lni-trash-can"></i></a></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
