<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="trk-card">
        <div class="trk-card__wrapper">
          <div class="trk-card__header text-center">
            <h5>Request More Information</h5>
          </div>
          <div class="trk-card__body">
            <form action="#" class="form">
              <div class="row g-4">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="Email Address">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Password">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="number">Number</label>
                    <input type="tel" class="form-control" id="number" placeholder="Phone number">
                  </div>
                </div>



                <div class="col-md-12">
                  <div class="form-group">
                    <label for="number">Date time</label>
                    <input type="datetime-local" id="Datetime" class="form-control">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="url">Update url</label>
                    <input type="url" name="url" id="url" placeholder="https://example.com" pattern="https://.*"
                      size="30" class="form-control">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="file">Update file</label>
                    <input type="file" class="form-control" id="file">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="field-2">Organization</label>
                    <input type="text" class="form-control" maxlength="256" name="field-2" data-name="Field 2"
                      placeholder="Organization" id="field-2">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="City">City</label>
                    <input type="text" class="form-control" maxlength="256" name="field-2" data-name="Field 2"
                      placeholder="City" id="City">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="image">Image</label>
                    <input type="image" class="form-control" id="image">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="siteSearch">Search Data</label>
                    <input type="search" class="form-control" id="siteSearch" name="q" placeholder="Search Data">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="DateTime">Date time</label>
                    <input type="date" class="form-control" id="DateTime" name="trip-start" value="2018-07-22"
                      min="2018-01-01" max="2018-12-31">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="month">month</label>
                    <input type="month" id="start" class="form-control" name="month" min="2018-03" value="2018-05">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="Time">Time</label>
                    <input type="time" id="Time" class="form-control" name="appt" min="09:00" max="18:00" required>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="select">Select</label>
                    <select class="form-select form-control" aria-label="Default select example">
                      <option selected>Open this select menu</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="image_uploads">multiple images</label>
                    <input class="form-control" type="file" title="multiple images select" id="image_uploads"
                      name="image_uploads" accept=".jpg, .jpeg, .png" multiple>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="week">Select Week</label>
                    <input class="form-control" type="week" id="week" name="week">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="Mesaage">Your Mesaage</label>
                    <textarea rows="8" cols="12" class="form-control" id="Mesaage"
                      placeholder="Your Mesaage"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="color">
                      <input type="color" id="head" name="head" value="#008FFF">
                      <label for="head">Select Color</label>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <div class="range">
                      <label for="volume">Volume</label>
                      <input type="range" id="volume" name="volume" min="0" max="11">
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <fieldset>
                    <legend>Select a maintenance drone:</legend>

                    <div class="form-radio">
                      <input type="radio" id="huey" name="drone" value="huey" checked>
                      <label for="huey">Huey</label>
                    </div>

                    <div class="form-radio">
                      <input type="radio" id="dewey" name="drone" value="dewey">
                      <label for="dewey">Dewey</label>
                    </div>

                    <div class="form-radio">
                      <input type="radio" id="louie" name="drone" value="louie">
                      <label for="louie">Louie</label>
                    </div>
                  </fieldset>
                </div>

                <div class="col-md-12">
                  <div class="option">
                    <p>Select One</p>
                    <div class="option__inner">
                      <div class="form-radio">
                        <input type="radio" class="form-radio-input" name="radio" id="terms-radio">
                        <label for="terms-radio" class="form-radio-label">
                          one
                        </label>
                      </div>
                      <div class="form-radio">
                        <input type="radio" class="form-radio-input" name="radio" id="terms-radio">
                        <label for="terms-radio" class="form-radio-label">
                          Two
                        </label>
                      </div>
                      <div class="form-radio">
                        <input type="radio" class="form-radio-input" name="radio" id="terms-radio">
                        <label for="terms-radio" class="form-radio-label">
                          Three
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" value="" id="terms-check">
                    <label for="terms-check" class="form-check-label">
                      Agree to our <a href="#"> terms & conditions</a>
                    </label>
                  </div>
                </div>
              </div>
              <button class="custom-btn custom-btn--border mt-4">submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
