<!-- =============<< Intro video start here >>=============== -->
<div class="intro-video padding-bottom intro-video--uplifted">
    <div class="container">
        <div class="intro-video__wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="intro-video__item">
                        <div class="intro-video__item-inner">
                            <img src="{{root}}/assets/images/video/intro.png" alt="Intro Video Thubnail">
                            <a href="#" class="intro-video__play stretched-link"><img
                                    src="{{root}}/assets/images/icons/play.svg" alt="play video"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =============<< Intro video end here >>=============== -->