<div class="menus">
  <div class="container">
    <div class=" menus_inner">
      <div class="menus_top">
        <div class="menus_top-up">
          <button class="btn-one">Expand All</button>
          <button class="btn-two">Collapes All</button>
        </div>
        <div class="menus_title">
          <h4>orientate your menus</h4>
        </div>
      </div>
      <div class="menus_item">
        <div class="container">
          <section class="dropzone source">
            <div class="draggable" id="drag-1" draggable="true">
              <div class="dropzone_content">
                <span><i class="fa-solid fa-inbox"></i> dashboard</span>
              </div>
              <div class="dropzone_content">
                <div class="icons d-flex">
                  <div class="easey_class">
                    <input type="checkbox" value="1" class="switch">
                  </div>
                  <button><i class="fa-solid fa-pen-clip edit"></i></button>
                  <button><i class="fa-solid fa-trash-can delete"></i></button>
                </div>
              </div>
            </div>
            <div class="draggable" id="drag-1" draggable="true">
              <div class="dropzone_content">
                <span><i class="fa-solid fa-inbox"></i> course module</span>
              </div>
              <div class="dropzone_content">
                <div class="icons d-flex">
                  <div class="easey_class">
                    <input type="checkbox" value="1" class="switch">
                  </div>
                  <button><i class="fa-solid fa-pen-clip edit"></i></button>
                  <button><i class="fa-solid fa-trash-can delete"></i></button>
                </div>
              </div>
            </div>
            <div class="draggable" id="drag-1" draggable="true">
              <div class="dropzone_content">
                <span><i class="fa-solid fa-inbox"></i> orientations</span>
              </div>
              <div class="dropzone_content">
                <div class="icons d-flex">
                  <div class="easey_class">
                    <input type="checkbox" value="1" class="switch">
                  </div>
                  <button><i class="fa-solid fa-pen-clip edit"></i></button>
                  <button><i class="fa-solid fa-trash-can delete"></i></button>
                </div>
              </div>
            </div>
            <div class="draggable" id="drag-1" draggable="true">
              <div class="dropzone_content">
                <span><i class="fa-solid fa-inbox"></i> courses</span>
              </div>
              <div class="dropzone_content">
                <div class="icons d-flex">
                  <div class="easey_class">
                    <input type="checkbox" value="1" class="switch">
                  </div>
                  <button><i class="fa-solid fa-pen-clip edit"></i></button>
                  <button><i class="fa-solid fa-trash-can delete"></i></button>
                </div>
              </div>
            </div>
          </section>
          <section class="dropzone target">
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
