<div class="role permissions">
  <div class="container">
    <div class="role_table table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">permissions</th>
            <th scope="col">view</th>
            <th scope="col">create</th>
            <th scope="col">update</th>
            <th scope="col">delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Admin</th>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">user</th>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Subscription</th>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>

          </tr>
          <tr>
            <th scope="row">Developer</th>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>

          </tr>
          <tr>
            <th scope="row">Role</th>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>

          </tr>
          <tr>
            <th scope="row">Setting</th>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>

          </tr>
          <tr>
            <th scope="row">Blog</th>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>

          </tr>
          <tr>
            <th scope="row">Faq</th>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
            <td>
              <div class="easey_class">
                <input type="checkbox" value="1" class="switch">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
