<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="trk-card">
        <div class="trk-card__wrapper">
          <div class="trk-card__header text-center">
            <h5>Request More Information</h5>
          </div>
          <div class="trk-card__body">
            <form action="#" class="form">
              <div class="row g-4">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="Email Address">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Password">
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="number">Number</label>
                    <input type="tel" class="form-control" id="number" placeholder="Phone number">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="Mesaage">Your Mesaage</label>
                    <textarea rows="8" cols="12" class="form-control" id="Mesaage" placeholder="Your Mesaage"></textarea>
                  </div>
                </div>

                <div class="col-md-12">
                  <fieldset>
                      <legend>Select a maintenance drone:</legend>

                      <div class="form-radio">
                        <input type="radio" id="huey" name="drone" value="huey" checked>
                        <label for="huey">Huey</label>
                      </div>

                      <div class="form-radio">
                        <input type="radio" id="dewey" name="drone" value="dewey">
                        <label for="dewey">Dewey</label>
                      </div>

                      <div class="form-radio">
                        <input type="radio" id="louie" name="drone" value="louie">
                        <label for="louie">Louie</label>
                      </div>
                    </fieldset>
                </div>

                <div class="col-md-12">
                  <div class="option">
                    <p>Select One</p>
                    <div class="option__inner">
                      <div class="form-radio">
                        <input type="radio" class="form-radio-input" name="radio" id="terms-radio">
                        <label for="terms-radio" class="form-radio-label">
                          one
                        </label>
                      </div>
                      <div class="form-radio">
                        <input type="radio" class="form-radio-input" name="radio" id="terms-radio">
                        <label for="terms-radio" class="form-radio-label">
                          Two
                        </label>
                      </div>
                      <div class="form-radio">
                        <input type="radio" class="form-radio-input" name="radio" id="terms-radio">
                        <label for="terms-radio" class="form-radio-label">
                          Three
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" value="" id="terms-check">
                    <label for="terms-check" class="form-check-label">
                      Agree to our <a href="#"> terms & conditions</a>
                    </label>
                  </div>
                </div>
              </div>
              <button class="custom-btn custom-btn--border mt-4 d-block">submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
