<!-- ================> about section start here <================== -->
<section class="about padding-top padding-bottom bg--light-color">
    <div class="container">
        <div class="section-header text-center">
            <p class="subtitle">What's inside?</p>
            <h2>Build your next application just in a few clicks</h2>
        </div>
        <div class="about__wrapper">
            <div class="row align-items-center g-5">
                <div class="col-lg-6">
                    <div class="about__content" data-aos="fade-left" data-aos-duration="800">
                        <h4>Complete package for your project.</h4>
                        <p>The heart of SelfCoder is the instant admin panel, which automatically gives you an interface
                            for any Laravel app – with
                            no need for code changes. But that’s not all.

                            So what are you waiting for? Go ahead and help yourself.
                        </p>
                        <ul class="about__list">
                            <li class="about__list-item">Database Creation</li>
                            <li class="about__list-item">Customizable Code</li>
                            <li class="about__list-item">Easy to implement</li>
                        </ul>
                        <a href="components.html" class="custom-btn">Explore Now</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__thumb" data-aos="fade-right" data-aos-duration="800"><img
                            src="{{root}}assets/images/about/1.png" alt="About image images">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================> about section end here <================== -->