<!-- ==============<< banner section start here >>================ -->
<section class="banner" style="background-image:url({{root}}/assets/images/banner/bg.jpg)">
    <div class="container">
        <div class="banner__wrapper">
            <div class="banner__content">
                <h1>The ultimate <span class="gradient-text--theme d-block"> Laravel developer tool</span></h1>
                <p>Replace your database management tool, test emails, trigger jobs and run commands from a convenient
                    interface.</p>
                <div class="btn-group btn-group--gap-sm justify-content-center">
                    <a href="#" class="custom-btn"><span>See Plans</span></a>
                    <a href="#" class="custom-btn custom-btn--outlined-secondary"><span>See Plans</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==============<< banner section end  here >>================ -->