<!-- ================FAQ section start here <================== -->
<section class="faq padding-top padding-bottom bg--cover" style="background-image: url(assets/images/faq/bg.png);">
    <div class="container">
        <div class="section-header text-center">
            <p class="subtitle">Questions & Answers</p>
            <h2>Frequently Asked Questions</h2>
        </div>
        <div class="faq__wrapper">
            <div class="row g-4">
                <div class="col-lg-6">
                    <div class="accordion" id="faqAccordion1">
                        <div class="row g-4">
                            <div class="col-12">
                                <div class="accordion__item accordion__item--style2" data-aos="fade-up"
                                    data-aos-duration="1000">
                                    <div class="accordion__header" id="faq1">
                                        <button class="accordion__button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faqBody1" aria-expanded="false"
                                            aria-controls="faqBody1">
                                            What is selfcoder <span class="plus-icon"></span>
                                        </button>
                                    </div>
                                    <div id="faqBody1" class="accordion-collapse collapse" aria-labelledby="faq1"
                                        data-bs-parent="#faqAccordion1">
                                        <div class="accordion__body">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
                                            dignissimos esse dolores, maiores culpa laboriosam soluta tempore
                                            corrupti maxime aspernatur quod aliquam eaque rem similique voluptates
                                            asperiores expedita harum eligendi consectetur quasi praesentium
                                            debitis, fuga, provident perspiciatis? Vero, mollitia culpa.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="accordion__item accordion__item--style2" data-aos="fade-up"
                                    data-aos-duration="1100">
                                    <div class="accordion__header" id="faq2">
                                        <button class="accordion__button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#faqBody2" aria-expanded="true" aria-controls="faqBody2">
                                            Why choose selfcoder? <span class="plus-icon"></span>
                                        </button>
                                    </div>
                                    <div id="faqBody2" class="accordion-collapse collapse show" aria-labelledby="faq2"
                                        data-bs-parent="#faqAccordion1">
                                        <div class="accordion__body">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
                                            dignissimos esse dolores, maiores culpa laboriosam soluta tempore
                                            corrupti maxime aspernatur quod aliquam eaque rem similique voluptates
                                            asperiores expedita harum eligendi consectetur quasi praesentium
                                            debitis, fuga, provident perspiciatis? Vero, mollitia culpa.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="accordion__item accordion__item--style2" data-aos="fade-up"
                                    data-aos-duration="1200">
                                    <div class="accordion__header" id="faq3">
                                        <button class="accordion__button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faqBody3" aria-expanded="false"
                                            aria-controls="faqBody3">
                                            How secure is this Template<span class="plus-icon"></span>
                                        </button>
                                    </div>
                                    <div id="faqBody3" class="accordion-collapse collapse" aria-labelledby="faq3"
                                        data-bs-parent="#faqAccordion1">
                                        <div class="accordion__body">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
                                            dignissimos esse dolores, maiores culpa laboriosam soluta tempore
                                            corrupti maxime aspernatur quod aliquam eaque rem similique voluptates
                                            asperiores expedita harum eligendi consectetur quasi praesentium
                                            debitis, fuga, provident perspiciatis? Vero, mollitia culpa.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="accordion" id="faqAccordion2">
                        <div class="row g-4">
                            <div class="col-12">
                                <div class="accordion__item accordion__item--style2" data-aos="fade-up"
                                    data-aos-duration="1000">
                                    <div class="accordion__header" id="faq1-two">
                                        <button class="accordion__button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faqBody1-two"
                                            aria-expanded="false" aria-controls="faqBody1-two">

                                            When is the official launch? <span class="plus-icon"></span>
                                        </button>
                                    </div>
                                    <div id="faqBody1-two" class="accordion-collapse collapse"
                                        aria-labelledby="faq1-two" data-bs-parent="#faqAccordion2">
                                        <div class="accordion__body">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
                                            dignissimos esse dolores, maiores culpa laboriosam soluta tempore
                                            corrupti maxime aspernatur quod aliquam eaque rem similique voluptates
                                            asperiores expedita harum eligendi consectetur quasi praesentium
                                            debitis, fuga, provident perspiciatis? Vero, mollitia culpa.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="accordion__item accordion__item--style2" data-aos="fade-up"
                                    data-aos-duration="1100">
                                    <div class="accordion__header" id="faq2-two">
                                        <button class="accordion__button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#faqBody2-two"
                                            aria-expanded="true" aria-controls="faqBody2-two">

                                            What is the subscription price? <span class="plus-icon"></span>
                                        </button>
                                    </div>
                                    <div id="faqBody2-two" class="accordion-collapse collapse"
                                        aria-labelledby="faq2-two" data-bs-parent="#faqAccordion2">
                                        <div class="accordion__body">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
                                            dignissimos esse dolores, maiores culpa laboriosam soluta tempore
                                            corrupti maxime aspernatur quod aliquam eaque rem similique voluptates
                                            asperiores expedita harum eligendi consectetur quasi praesentium
                                            debitis, fuga, provident perspiciatis? Vero, mollitia culpa.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="accordion__item accordion__item--style2" data-aos="fade-up"
                                    data-aos-duration="1200">
                                    <div class="accordion__header" id="faq3-two">
                                        <button class="accordion__button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#faqBody3-two" aria-expanded="false"
                                            aria-controls="faqBody3-two">

                                            How does it work?<span class="plus-icon"></span>
                                        </button>
                                    </div>
                                    <div id="faqBody3-two" class="accordion-collapse collapse show"
                                        aria-labelledby="faq3-two" data-bs-parent="#faqAccordion2">
                                        <div class="accordion__body">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
                                            dignissimos esse dolores, maiores culpa laboriosam soluta tempore
                                            corrupti maxime aspernatur quod aliquam eaque rem similique voluptates
                                            asperiores expedita harum eligendi consectetur quasi praesentium
                                            debitis, fuga, provident perspiciatis? Vero, mollitia culpa.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================FAQ section end here <================== -->