<!-- ==============<< feature section start  here >>================ -->
<section class="feature padding-top padding-bottom">
    <div class="container">
        <div class="section-header text-center">
            <p class="subtitle">Build Yourself</p>
            <h2>How to build it?</h2>
        </div>
        <div class="feature__wrapper">
            <div class="row align-items-center g-5">
                <div class="col-lg-4 col-md-5">
                    <div class="feature__nav">
                        <div class="nav flex-column nav-pills" id="feat-pills-tab" role="tablist"
                            aria-orientation="vertical">
                            <div class="nav-link active" id="feat-pills-one-tab" data-bs-toggle="pill"
                                data-bs-target="#feat-pills-one" role="tab" aria-controls="feat-pills-one"
                                aria-selected="true">
                                <div class="feature__item">
                                    <div class="feature__item-inner">
                                        <div class="feature__item-icon">
                                            <img src="{{root}}/assets/images/feature/icon/1.svg" alt="feature Icon">
                                        </div>
                                        <div class="feature__item-content">
                                            <h4>Simply initial</h4>
                                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-link" id="feat-pills-two-tab" data-bs-toggle="pill"
                                data-bs-target="#feat-pills-two" role="tab" aria-controls="feat-pills-two"
                                aria-selected="false">
                                <div class="feature__item">
                                    <div class="feature__item-inner">
                                        <div class="feature__item-icon">
                                            <img src="{{root}}/assets/images/feature/icon/2.svg" alt="feature Icon">
                                        </div>
                                        <div class="feature__item-content">
                                            <h4>Simply initial</h4>
                                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="nav-link" id="feat-pills-three-tab" data-bs-toggle="pill"
                                data-bs-target="#feat-pills-three" role="tab" aria-controls="feat-pills-three"
                                aria-selected="false">
                                <div class="feature__item">
                                    <div class="feature__item-inner">
                                        <div class="feature__item-icon">
                                            <img src="{{root}}/assets/images/feature/icon/3.svg" alt="feature Icon">
                                        </div>
                                        <div class="feature__item-content">
                                            <h4>Simply initial</h4>
                                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="feature__content">
                        <div class="tab-content" id="feat-pills-tabContent">
                            <div class="tab-pane fade show active" id="feat-pills-one" role="tabpanel"
                                aria-labelledby="feat-pills-one-tab" tabindex="0">
                                <div class="feature__image">
                                    <img src="assets/images/feature/1.png" alt="Feature image">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="feat-pills-two" role="tabpanel"
                                aria-labelledby="feat-pills-two-tab" tabindex="0">
                                <img src="assets/images/feature/2.png" alt="Feature image">
                            </div>
                            <div class="tab-pane fade" id="feat-pills-three" role="tabpanel"
                                aria-labelledby="feat-pills-three-tab" tabindex="0">
                                <img src="assets/images/feature/3.png" alt="Feature image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==============<< feature section end  here >>================ -->