<!-- ==============<< integration section start  here >>================ -->
<section class="integration padding-bottom">
    <div class="container">
        <div class="section-header text-center">
            <p class="subtitle">Tons of Integration</p>
            <h2>Integrations and Extensions</h2>
        </div>
        <div class="integration__wrapper">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="integration__content">
                        <h3>Integrate your favourite app</h3>
                        <p>SelfCoder helps thousands of businesses discover, manage, and optimize their SaaS application
                            inventories.
                        </p>
                        <p>Integrate all of your favourite app and addons in SelfCoder.We offer tons of
                            application
                            integration like Vapor ,Dusk,Lumen, Spart, Cashier, Etc</p>
                        <a href="#" class="custom-btn"><span>Explore App</span></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="integration__thumb">
                        <img src="assets/images/integration/integration.png" alt="Inegration Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==============<< integration section end  here >>================ -->