<!-- ================> Pricing section start here <================== -->
<div class="pricing padding-top padding-bottom pricing--shape bg--light-color">
    <div class="container">
        <div class="section-header text-center">
            <p class="subtitle">pricing plan</p>
            <h2>Choose a Plan</h2>
        </div>
        <div class="pricing__wrapper" data-aos="fade-up" data-aos-duration="700">
            <div class="pricing__switcher">
                <p class="pricing__switcher-btn active" id="pricing-monthly">Monthly</p>
                <p class="pricing__switcher-btn " id="pricing-yearly">Yearly <small>save 25%</small></p>
            </div>
            <div class="row g-4">
                <div class="col-xl-3 col-md-6">
                    <div class="pricing__item">
                        <div class="pricing__item-inner">
                            <div class="pricing__item-content">

                                <!-- pricing top part -->
                                <div class="pricing__item-top">
                                    <h4>Free</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quas amet
                                        laborum </p>
                                </div>

                                <!-- pricing middle part -->
                                <div class="pricing__item-middle">
                                    <h3>$0</h3>
                                    <p>Free forever</p>
                                    <a href="signup.html" class="custom-btn custom-btn--secondary">Join for
                                        free</a>
                                </div>

                                <!-- pricing bottom part -->
                                <div class="pricing__item-bottom">
                                    <ul class="pricing__list">
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-check"></i></span>
                                            Access to 30
                                            selfcoder components</li>
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-check"></i></span>
                                            Access to private
                                            components</li>
                                        <li class="pricing__list-item"><span>
                                                <i class="fa-solid fa-xmark"></i>
                                            </span>
                                            Store up to 10
                                            components</li>
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-xmark"></i></span>
                                            Share privately
                                            with up to 3 users</li>
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-xmark"></i></span>
                                            Share privately
                                            with up to 3 users</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="pricing__item">
                        <div class="pricing__item-inner">
                            <div class="pricing__item-content">

                                <!-- pricing top part -->
                                <div class="pricing__item-top">
                                    <h4>Starter</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quas amet
                                        laborum </p>
                                </div>

                                <!-- pricing middle part -->
                                <div class="pricing__item-middle">
                                    <h3>$<span class="pricing__item-price" data-year-price="32"
                                            data-month-price="38">38</span> USD</h3>
                                    <p>Per member/month <span class="pricing__item-billedYearly ms-2 badge">Billed
                                            yearly</span>
                                    </p>
                                    <a href="signup.html" class="custom-btn">Get Start</a>
                                </div>

                                <!-- pricing bottom part -->
                                <div class="pricing__item-bottom">
                                    <ul class="pricing__list">
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-check"></i></span>
                                            Access to
                                            500+
                                            components</li>
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-check"></i></span>
                                            Share privately
                                            with up to 10 users</li>
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-check"></i></span>
                                            Store up to 25
                                            components</li>
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-xmark"></i></span>
                                            Community sharing
                                        </li>
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-xmark"></i></span>
                                            Access to community
                                            components</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="pricing__item pricing__item--promoted">
                        <div class="pricing__item-inner">
                            <div class="pricing__item-content">

                                <!-- pricing top part -->
                                <div class="pricing__item-top">
                                    <h4>Pro</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quas amet
                                        laborum </p>
                                </div>

                                <!-- pricing middle part -->
                                <div class="pricing__item-middle">
                                    <h3>$<span class="pricing__item-price" data-year-price="50"
                                            data-month-price="58">58</span> USD</h3>
                                    <p>Per member/month <span class="pricing__item-billedYearly ms-2 badge">Billed
                                            yearly</span>
                                    </p>
                                    <a href="signup.html" class="custom-btn">Get start</a>
                                </div>

                                <!-- pricing bottom part -->
                                <div class="pricing__item-bottom">
                                    <ul class="pricing__list">
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-check"></i></span>
                                            Access to
                                            500+
                                            components</li>
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-check"></i></span>
                                            Share privately
                                            with up to 10 users</li>
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-check"></i></span>
                                            Store up to 25
                                            components</li>
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-check"></i></span>
                                            Community sharing
                                        </li>
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-xmark"></i></span>
                                            Access to community
                                            components</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="pricing__item">
                        <div class="pricing__item-inner">
                            <div class="pricing__item-content">

                                <!-- pricing top part -->
                                <div class="pricing__item-top">
                                    <h4>Enterprise</h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quas amet
                                        laborum </p>
                                </div>

                                <!-- pricing middle part -->
                                <div class="pricing__item-middle">
                                    <h3>Custom</h3>
                                    <p>Lorem ipsum dolor sit.</p>
                                    <a href="contact.html" class="custom-btn">Contact us</a>
                                </div>

                                <!-- pricing bottom part -->
                                <div class="pricing__item-bottom">
                                    <ul class="pricing__list">
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-check"></i></span>
                                            Access to
                                            500+
                                            components</li>
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-check"></i></span>
                                            Share privately
                                            with up to 10 users</li>
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-check"></i></span>
                                            Store up to 25
                                            components</li>
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-check"></i></span>
                                            Community sharing
                                        </li>
                                        <li class="pricing__list-item"><span><i class="fa-solid fa-check"></i></span>
                                            Access to community
                                            components</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ================> Pricing section end here <================== -->