<div class="role">
  <div class="container">
    <div class="role_table table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">serial</th>
            <th scope="col">name</th>
            <th scope="col">guard name</th>
            <th scope="col">is active</th>
            <th scope="col">actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">1</td>
            <td>teacher</td>
            <td>api</td>
            <td>
              <span class="badge bg-primary">active</span>
            </td>
            <td>
              <ul class="trk-action__list">
                <li class="trk-action"><a class="trk-action__item" href="#"><i class="fa-solid fa-tv"></i></a></li>
                <li class="trk-action"><a class="trk-action__item" href="#"><i class="fa-solid fa-pen-clip"></i></a>
                </li>
                <li class="trk-action"><a class="trk-action__item" href="#"><i class="fa-solid fa-trash-can"></i></a>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td scope="row">2</td>
            <td>student</td>
            <td>api</td>
            <td>
              <span class="badge bg-primary">active</span>
            </td>
            <td>
              <ul class="trk-action__list">
                <li class="trk-action"><a class="trk-action__item" href="#"><i class="fa-solid fa-tv"></i></a></li>
                <li class="trk-action"><a class="trk-action__item" href="#"><i class="fa-solid fa-pen-clip"></i></a>
                </li>
                <li class="trk-action"><a class="trk-action__item" href="#"><i class="fa-solid fa-trash-can"></i></a>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td scope="row">3</td>
            <td>Admin</td>
            <td>admin</td>
            <td>
              <span class="badge bg-primary">active</span>
            </td>
            <td>
              <ul class="trk-action__list">
                <li class="trk-action"><a class="trk-action__item" href="#"><i class="fa-solid fa-tv"></i></a></li>
                <li class="trk-action"><a class="trk-action__item" href="#"><i class="fa-solid fa-pen-clip"></i></a>
                </li>
                <li class="trk-action"><a class="trk-action__item" href="#"><i class="fa-solid fa-trash-can"></i></a>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td scope="row">4</td>
            <td>Super Admin</td>
            <td>admin</td>
            <td>
              <span class="badge bg-primary">active</span>
            </td>
            <td>
              <ul class="trk-action__list">
                <li class="trk-action"><a class="trk-action__item" href="#"><i class="fa-solid fa-tv"></i></a></li>
                <li class="trk-action"><a class="trk-action__item" href="#"><i class="fa-solid fa-pen-clip"></i></a>
                </li>
                <li class="trk-action"><a class="trk-action__item" href="#"><i class="fa-solid fa-trash-can"></i></a>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td scope="row">5</td>
            <td>Developer</td>
            <td>admin</td>
            <td>
              <span class="badge bg-primary">active</span>
            </td>
            <td>
              <ul class="trk-action__list">
                <li class="trk-action"><a class="trk-action__item" href="#"><i class="fa-solid fa-tv"></i></a></li>
                <li class="trk-action"><a class="trk-action__item" href="#"><i class="fa-solid fa-pen-clip"></i></a>
                </li>
                <li class="trk-action"><a class="trk-action__item" href="#"><i class="fa-solid fa-trash-can"></i></a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
