<!-- =============<< step section start here>>============== -->
<section class="step padding-bottom">
    <div class="container">
        <div class="step__wrapper">
            <div class="row g-4">
                <div class="col-lg-4 col-md-6">
                    <div class="step__item" data-aos="fade-up" data-aos-duration="700">
                        <div class="step__item-inner">
                            <div class="step__item-icon">
                                <img src="{{root}}assets/images/step/icon/1.svg" alt="step Icon">
                            </div>
                            <div class="step__item-content">
                                <h4>Lighten the code</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum mollitia tempore,
                                    praesentium eos dolore sapiente.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="step__item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="100">
                        <div class="step__item-inner">
                            <div class="step__item-icon">
                                <img src="{{root}}assets/images/step/icon/2.svg" alt="step Icon">
                            </div>
                            <div class="step__item-content">
                                <h4>Platforms to choose</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum mollitia tempore,
                                    praesentium eos dolore sapiente.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="step__item" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                        <div class="step__item-inner">
                            <div class="step__item-icon">
                                <img src="{{root}}assets/images/step/icon/3.svg" alt="step Icon">
                            </div>
                            <div class="step__item-content">
                                <h4>Remote control</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum mollitia tempore,
                                    praesentium eos dolore sapiente.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =============<< step section end here>>============== -->