<!-- ==============<< testimonial section start  here >>================ -->
<section class="testimonial padding-top padding-bottom">
    <div class="container">
        <div class="section-header text-center">
            <p class="subtitle">Tesimonial</p>
            <h2>Loved by the developers</h2>
        </div>


        <div class="testimonial__wrapper">
            <div class="row g-5">
                <div class="col-lg-8 col-xxl-9">
                    <div class="testimonial__slider-top swiper ">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial__item">
                                    <div class="testimonial__item-inner">
                                        <div class="testimonial__item-thumb">
                                            <img src="assets/images/testimonial/1.png" alt="testimonial image">
                                            <div class="testimonial__item-video">
                                                <a href="https://www.youtube.com/embed/ppawFI1u6Po"
                                                    class=" testimonial__item-play stretched-link"
                                                    data-rel="lightcase"><i class="fa-regular fa-circle-play"></i></a>
                                                <div class="testimonial__item-videotext">
                                                    Testimonial by <br>
                                                    <span>Jhon doe</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="testimonial__item-content">
                                            <div class="testimonial__author">
                                                <div class="testimonial__autho-inner">
                                                    <div class="testimonial__author-content">
                                                        <h4>Jhon Doe</h4>
                                                        <p>Creative Developer, Tork Inc</p>
                                                        <ul class="rating">
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <blockquote>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis quod,
                                                cum
                                                repellat accusantium vitae id temporibus ipsam sed? Quis quam animi
                                                beatae
                                                eligendi optio aliquid deserunt enim !
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__item">
                                    <div class="testimonial__item-inner">
                                        <div class="testimonial__item-thumb">
                                            <img src="assets/images/testimonial/2.png" alt="testimonial image">
                                            <div class="testimonial__item-video">
                                                <a href="https://www.youtube.com/embed/ppawFI1u6Po"
                                                    class=" testimonial__item-play stretched-link"
                                                    data-rel="lightcase"><i class="fa-regular fa-circle-play"></i></a>
                                                <div class="testimonial__item-videotext">
                                                    Testimonial by <br>
                                                    <span>Adam Fox</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="testimonial__item-content">
                                            <div class="testimonial__author">
                                                <div class="testimonial__autho-inner">
                                                    <div class="testimonial__author-content">
                                                        <h4>Adam Fox</h4>
                                                        <p>Backend Developer, Tork Inc</p>
                                                        <ul class="rating">
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <blockquote>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis quod,
                                                cum
                                                repellat accusantium vitae id temporibus ipsam sed? Quis quam animi
                                                beatae
                                                eligendi optio aliquid deserunt enim !
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__item">
                                    <div class="testimonial__item-inner">
                                        <div class="testimonial__item-thumb">
                                            <img src="assets/images/testimonial/3.png" alt="testimonial image">
                                            <div class="testimonial__item-video">
                                                <a href="https://www.youtube.com/embed/ppawFI1u6Po"
                                                    class=" testimonial__item-play stretched-link"
                                                    data-rel="lightcase"><i class="fa-regular fa-circle-play"></i></a>
                                                <div class="testimonial__item-videotext">
                                                    Testimonial by <br>
                                                    <span>Mike Hussy</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="testimonial__item-content">
                                            <div class="testimonial__author">
                                                <div class="testimonial__autho-inner">
                                                    <div class="testimonial__author-content">
                                                        <h4>Mike Hussy</h4>
                                                        <p>Creative Designer, Tork Inc</p>
                                                        <ul class="rating">
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <blockquote>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis quod,
                                                cum
                                                repellat accusantium vitae id temporibus ipsam sed? Quis quam animi
                                                beatae
                                                eligendi optio aliquid deserunt enim !
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__item">
                                    <div class="testimonial__item-inner">
                                        <div class="testimonial__item-thumb">
                                            <img src="assets/images/testimonial/4.png" alt="testimonial image">
                                            <div class="testimonial__item-video">
                                                <a href="https://www.youtube.com/embed/ppawFI1u6Po"
                                                    class=" testimonial__item-play stretched-link"
                                                    data-rel="lightcase"><i class="fa-regular fa-circle-play"></i></a>
                                                <div class="testimonial__item-videotext">
                                                    Testimonial by <br>
                                                    <span>Peter Bret</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="testimonial__item-content">
                                            <div class="testimonial__author">
                                                <div class="testimonial__autho-inner">
                                                    <div class="testimonial__author-content">
                                                        <h4>Peter Bret</h4>
                                                        <p>Creative Developer, Tork Inc</p>
                                                        <ul class="rating">
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                            <li class="rating__star"><i class="fa-solid fa-star"></i>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <blockquote>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis quod,
                                                cum
                                                repellat accusantium vitae id temporibus ipsam sed? Quis quam animi
                                                beatae
                                                eligendi optio aliquid deserunt enim !
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- <div class="swiper-button-next"></div>
                                                        <div class="swiper-button-prev"></div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-xxl-3">
                    <div thumbsSlider="" class="testimonial__slider-bottom swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial__author testimonial__author--card">
                                    <div class="testimonial__author-inner">
                                        <div class="testimonial__author-thumb">
                                            <img src="assets/images/testimonial/author/1.png" alt="Author Image">
                                        </div>
                                        <div class="testimonial__author-content">
                                            <h5>Jhon Doe</h5>
                                            <p>Creative Developer,<br> <span>Tork Inc</span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__author testimonial__author--card">
                                    <div class="testimonial__author-inner">
                                        <div class="testimonial__author-thumb">
                                            <img src="assets/images/testimonial/author/2.png" alt="Author Image">
                                        </div>
                                        <div class="testimonial__author-content">
                                            <h5>Adam Fox</h5>
                                            <p>Backend Developer,<br> <span>Tork Inc</span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__author testimonial__author--card">
                                    <div class="testimonial__author-inner">
                                        <div class="testimonial__author-thumb">
                                            <img src="assets/images/testimonial/author/3.png" alt="Author Image">
                                        </div>
                                        <div class="testimonial__author-content">
                                            <h5>Mike Hussy</h5>
                                            <p>Creative Designer,<br> <span>Tork Inc</span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial__author testimonial__author--card">
                                    <div class="testimonial__author-inner">
                                        <div class="testimonial__author-thumb">
                                            <img src="assets/images/testimonial/author/4.png" alt="Author Image">
                                        </div>
                                        <div class="testimonial__author-content">
                                            <h5>Peter Bret</h5>
                                            <p>Creative Developer,<br> <span>Tork Inc</span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==============<< testimonial section end here >>================ -->