<!-- ===========<< Sidebar Nav start here >>============ -->
<nav class="sidenav">
    <div class="sidenav__header">
        <a href="#" class="sidenav__brand"><img src="assets/images/logo/logo.png" alt="SelfAdmin"></a>
        <div class="sidenav__toggler">T</div>
    </div>
    <div class="sidenav__body">
        <ul class="metismenu sidenav__menu" id="sidenav">
            <li class="sidenav__menu-item"><a href="#"><img src="assets/images/svg/icons/grid.svg" alt="Icon">
                    <span>Dashboard</span> </a></li>
            <li class="mm-active sidenav__menu-item">
                <a class="has-arrow" href="#" aria-expanded="true"><img src="assets/images/svg/icons/archive-book.svg"
                        alt="Icon"> <span>Invoices</span> </a>
                <ul>
                    <li><a href="#">Invoices 1</a></li>
                    <li><a href="#">Invoices 2</a></li>
                    <li><a href="#">Invoices 3</a></li>
                    <li><a href="#">Invoices 4</a></li>
                    <li><a href="#">Invoices 5</a></li>
                </ul>
            </li>
            <li class="sidenav__menu-item">
                <a class="has-arrow" href="#" aria-expanded="false"><img src="assets/images/svg/icons/wallet.svg"
                        alt="Icon"><span>My Wallet</span> </a>
                <ul>
                    <li><a href="#"> My Wallet 1</a></li>
                    <li><a href="#"> My Wallet 2</a></li>
                    <li><a href="#"> My Wallet 3</a></li>
                    <li><a href="#"> My Wallet 4</a></li>
                    <li><a href="#"> My Wallet 5</a></li>
                </ul>
            </li>
            <li class="sidenav__menu-item"><a href="#"><img src="assets/images/svg/icons/massage.svg"
                        alt="Icon"><span>Message</span> </a></li>
            <li class="sidenav__menu-item">
                <a class="has-arrow" href="#" aria-expanded="false"><img src="assets/images/svg/icons/saved.svg"
                        alt="Icon"> <span>Saved</span> </a>
                <ul>
                    <li><a href="#">Saved 1</a></li>
                    <li><a href="#">Saved 2</a></li>
                    <li><a href="#">Saved 3</a></li>
                    <li><a href="#">Saved 4</a></li>
                    <li><a href="#">Saved 5</a></li>
                </ul>
            </li>
            <li class="sidenav__menu-item"><a href="#"><img src="assets/images/svg/icons/estimates.svg"
                        alt="Icon"><span>Estimates</span> </a></li>
            <li class="sidenav__menu-item">
                <a class="has-arrow" href="#" aria-expanded="false"><img src="assets/images/svg/icons/myteam.svg"
                        alt="Icon"><span>My Team</span> </a>
                <ul>
                    <li><a href="#">My Team 1</a></li>
                    <li><a href="#">My Team 2</a></li>
                    <li><a href="#">My Team 3</a></li>
                    <li><a href="#">My Team 4</a></li>
                    <li><a href="#">My Team 5</a></li>
                </ul>
            </li>
            <li class="sidenav__menu-item active"><a href="#"><img src="assets/images/svg/icons/account.svg" alt="Icon">
                    Account</a></li>
            <li class="sidenav__menu-item">
                <a class="has-arrow" href="#" aria-expanded="false"><img src="assets/images/svg/icons/fileupload.svg"
                        alt="Icon"><span>File Upload</span> </a>
                <ul>
                    <li><a href="#">File Upload 1</a></li>
                    <li><a href="#">File Upload 2</a></li>
                    <li><a href="#">File Upload 3</a></li>
                    <li><a href="#">File Upload 4</a></li>
                    <li><a href="#">File Upload 5</a></li>
                </ul>
            </li>
            <li class="sidenav__menu-item">
                <a class="has-arrow" href="#" aria-expanded="false"><img src="assets/images/svg/icons/todo.svg"
                        alt="Icon"><span>Todo List</span> </a>
                <ul>
                    <li><a href="#">Todo List 1</a></li>
                    <li><a href="#">Todo List 2</a></li>
                    <li><a href="#">Todo List 3</a></li>
                    <li><a href="#">Todo List 4</a></li>
                    <li>
                        <a class="has-arrow" href="#">More </a>
                        <ul>
                            <li><a href="#">Todo List 1</a></li>
                            <li><a href="#">Todo List 2</a></li>
                            <li><a href="#">Todo List 3</a></li>
                            <li><a href="#">Todo List 4</a></li>
                            <li><a href="#">Todo List 5</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="sidenav__menu-item"><a href="#"><img src="assets/images/svg/icons/setting.svg"
                        alt="Icon"><span>Setting</span> </a></li>
        </ul>
    </div>
</nav>
<!-- ===========<< Sidebar Nav end here >>============ -->