{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Free minimal portfolio web site template,minmal portfolio,porfolio,bootstrap template,html template,photography " />
        <title>{{title}} - Free Minimal portfolio template.Art Studio template.</title>
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,400,600,700,800,900&display=swap" rel="stylesheet">
        
        <!-- build:css -->
        <link rel="stylesheet" href="{{root}}assets/vendor/css/line-awesome.css">
        <link rel="stylesheet" href="{{root}}assets/vendor/css/swiper.min.css">
        <link rel="stylesheet" href="{{root}}assets/css/main.css">
        <link rel="stylesheet" href="{{root}}assets/vendor/css/prism.css">
        <!-- endbuild -->
        <link rel="stylesheet" href="{{root}}assets/css/custom.css"> 
        <link rel="stylesheet" href="{{root}}assets/css/rtl.css"> 
    </head>
    <body>
        {{> navigation}}
        <main role="main">  
            <div class="wrapper">
                {{> body}} 
            </div>
        </main>       
               {{> footer}}
               {{> scripts }}
    </body>
</html>
