{{!-- This is the base layout for your project, and will be used on every page. --}}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description"
    content="Free minimal portfolio web site template,minmal portfolio,porfolio,bootstrap template,html template,photography " />

  <!-- site title -->
  <title>{{title}} - SelfCoder/Tork Admin Dashboard Template</title>


  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
    rel="stylesheet">


  <!-- Icon Font : flatui icons -->
  <!-- <link rel="stylesheet" href="{{root}}assets/vendor/css/swiper.min.css"> -->
  <!-- Icon Font : flatui icons end -->

  <!-- build:css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{{root}}assets/css/main.css">
  <!-- endbuild -->

  <!-- custom css option -->
  <link rel="stylesheet" href="{{root}}assets/css/custom.css">
  <link rel="stylesheet" href="{{root}}assets/css/rtl.css">
</head>

<body>

  <!-- template's nav/header -->
  {{>header}}

  <!-- template main content -->
  <main role="main">
    {{> body}}
  </main>

  <!-- template's footer -->
  {{>footer}}


  <!-- template's all script -->
  {{> script}}

</body>

</html>